@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
scroll-behavior: smooth;
}

body {
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 color: #ffffff;
 margin: 0;
}


.header {
height: 75px;
padding-top: 20px;
background-color:  #343a40;
position: fixed;
width: 100%;
top: 0;
  }

h1 {
  display: inline-block;
    font-size: large;
    position: absolute;
    top: 15px;
    left: 40px;
}

p {
  display: inline-block;
}
.menu {
  position: absolute;
  top: 10px;
  right: 20px;
}

.main {
  background-color:#1abc9c;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 90px;
}

img {

  width: 20%;
  height: 20%;
  
}

h2 {font-size: larger;}
h3 {font-size: smaller;}

.portfolio {

background-color: white;
color: #343a40;
}
#port {
font-size: x-large;

}
hr {

  height: 2px;
  width: 10%;
  text-align: center;
  color: blue;
}

.portfoliopic {

  display: inline-block;
  width: 25%;
  height: 25%;
  margin: 10px;
  border-radius: 10px;
}

.tituloabout {

  background-color:#1abc9c;
  padding: 20px;
}

.pabout {
text-align: center;
font-size: x-large;
}
.bloqueabout1 {
    display: inline-block;
    width: 25%;
    text-align: left;
}

.titulocontact {

background-color: white;
color: #343a40;
padding-top: 15px;
padding-bottom: 20px;
}

.formulario1 {
position: relative;
right: 50px;
width: 500px;
padding-top: 15px;
padding-bottom: 15px;
}

.formulario2 {
  position: relative;
  right: 40px;
  border: none;
  border-bottom: 1px solid lightgray;
  }

.formulario3 {
  position: relative;
  right: 260px;
  background-color: #1abc9c;
  color: white;
  width: 80px;
  height: 40px;
border-radius: 5px;
  }

input {
  border: none;
  border-bottom: 1px solid lightgray;
  }

  input[type=submit]:hover {
    background-color: #10725e;}